<h1 style='color: red'> User Error</h1>
<p><em>We hope to help you accomplish your goals! </em></p>
<p><em>However, there was something wrong with your information. Please use the menu bar above to properly login or sign up.</em></p>