<h2>Sign Up</h2>
<form action="/signup" method="POST">
  <input type="text" name="name" placeholder="Name:"><br><br>
  <input type="text" name="email" placeholder="Email:"><br><br>
  <input type="password" name="password" placeholder="Password:"><br><br>
  <input type="submit" value="Sign Up">
</form>