<div class="container">
  <header> 
  <p style="text-align:center;"><img src="https://www.transparentpng.com/thumb/gold-medal/gold-medal-png-transparent-image--1.png" width="300" height="200" class="center" alt="gold medal png transparent image @transparentpng.com"></p></header>
  <div class="welcome">
   

    <div class="content">
      <p style="text-align:center;"> A golden goal is a goal to decide the winner of a match in which scores are equal at the end of normal time. It is a type of sudden death, but we're using golden goals as the goals you hope to accomplish throughout life or right now! </p>
      <p style="text-align:center;">  “By recording your dreams and goals on paper, you set in motion the process of becoming the person you most want to be. Put your future in good hands—your own.” —Mark Victor Hansen </p>
      <h2 style="text-align:center;"> So how do I set a golden goal? </h2>
    <p> Golden Goals must have a <em>title </em> and <em>status</em>, to know if you've completed the goals or you're half-way there. You define the status of the goal. You must also have a <em>motivation</em> for completing the goal
    to remind yourself why you're taking on the challenge. You need to <em>describe </em>the goal so you can know what it is that you're striving to complete. Last but not least, you need to estimate <em>when you 
    think you're going to complete</em> the goal, which will help you define the status and know when you need to put in extra effort towards completing it. You can't lose when you know what what you want out of life!
    You can sign up or login to begin creating your Golden Goals! </p>

    
    </div>

    

    

    

  </div>
</div>
